html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: red;
  background-color:#f7bf09;
}

body {
  width: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 10px 0;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 16px;
}

p,
li {
  font-size: 14px;
  line-height: 1.5;
}

nav,
article,
aside,
footer {
  background-color: #f7bf09;
  padding: 10px;
}

header {
  background-color: red;
  color: #f7bf09;
}

header .logo-section {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

header form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 10px 5px;
  max-width: 800px;
}

input[type="search"] {
  flex: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0px;
  height: 30px;
}

.search-autocomplete {
  position: absolute;
  border: 1px solid #cecece;
  border-radius: 2px;
  background-color: #ffffff;
  color: #000000;
  top: 42px;
  z-index: 100;
}

.search-autocomplete > ul {
  list-style-type: none;
  padding-left: 2px;
}

input[type="submit"] {
  background-color: red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0px;
  height: 30px;
}

header .logo-section .material-icons {
  color:#f7bf09;
  vertical-align: text-top;
  font-size: 16px;
}

header .logo-section a:link {
  color: #ffffff;
  text-decoration: none;
}

nav {
  height: 25px;
  background-color: #232f3e;
  color: #ffffff;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

ul > img {
  vertical-align: text-top;
}

nav > ul > li > a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 2px;
}

.btn-main > a:hover {
  color: #febd69;
  border: 1px solid #febd69;
}

nav > ul > li {
  position: relative;
}

nav .nav-submenu {
  display: none;
  z-index: 1000;
  position: absolute;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  top: 20px;
  left: 5px;
  width: max-content;
}

.nav-submenu ul {
  padding: 5px 5px 5px 5px;
  list-style-type: none;
}

.nav-submenu ul a {
  text-decoration: none;
  color: #000000;
}

.nav-submenu ul a:hover {
  background-color: #febd69;
}

.nav-submenu .material-icons-outlined {
  font-size: 18px;
  vertical-align: middle;
}

main .main-image img {
  width: 100%;
  display: block;
}

main .main-content {
  display: flex;
}

.slider {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 300px;
}

.slider .slider-item {
  position: absolute;
  width: 100%;
  height: 300px;
}

.slider-item-scrollin {
  -webkit-animation: scrollinImage 0.2s linear, fadeIn 0.2s linear;
  animation: scrollinImage 0.2s linear, fadeIn 0.2s linear;
  z-index: 100;
}

@keyframes scrollinImage {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes scrollinImage {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

.slider-item-scrollout {
  -webkit-animation: scrolloutImage 0.2s linear, fadeOut 0.2s linear;
  animation: scrolloutImage 0.2s linear, fadeOut 0.2s linear;
  z-index: 99;
}

@keyframes scrolloutImage {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -100%;
  }
}

@-webkit-keyframes scrolloutImage {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0px;
  color: red;
  font-size: 30px;
  cursor: pointer;
  z-index: 101;
  opacity: 0.4;
  height: 100%;
}

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
}

.slider-prev:hover,
.slider-next:hover {
  color: #febd69;
  background-color: #444444;
}

.slider-bingo {
  position: absolute;
  bottom: 3px;
  transform: translateX(-50%);
  background: #eeff00;
  border: 2px solid #febd69;
  border-radius: 20px;
  box-shadow: 0 2px #febd69;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  z-index: 101;
}

.slider-bingo:hover {
  background: #98a300;
}

.slider-bingo.stop {
  background-color: #ff0000;
}

.slider-bingo.stop:hover {
  background: #ac0000;
}

section {
  flex: 4;
}

aside {
  flex: 1;
  background-color: white;
}

aside li {
  padding-bottom: 10px;
}

.items-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-;
}

.item:hover {
  -moz-box-shadow: 2px 2px 5px #333333;
  -webkit-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}

.item {
  flex: 0 0 30%;
  margin: 5px;
  border: 2px solid #232f3e;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  max-width: 300px;
}

.item-title {
  font-weight: 800;
}

.item-image img {
  display: block;
  width: 300px;
  height: 240px;
}

.item-footer {
  color: #ffffff;
  background-color: black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-attribute {
  margin: 3px 0;
  font-style: italic;
  font-weight: 800;
}

.item-footer span {
  color: #000000;
  background-color: #eeff00;
  border: 2px solid #febd69;
  border-radius: 20px;
  padding: 3px;
  margin: 0 5px;
  font-size: 16px;
}

footer {
  text-align: center;
  color: #f7bf09;
  background-color: #37475a;
}

.item-center {
  text-align: center;
}

.display-none {
  display: none;
}

.visible-hidden {
  visibility: hidden;
}

.pagination-division {
  flex: 100%;
}

.pagination-element {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.pagination-element li {
  color: #febd69;
  border: 1px solid #febd69;
  border-radius: 5px;
  padding: 2px 8px;
  cursor: pointer;
  margin: 0 1px;
}

.pagination-element li.active {
  color: #febd69;
  background-color: #ff0000;
  border: 1px solid #febd69;
}

.pagination-element li:hover {
  background-color: #eeeeee;
}
